<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <ul>
        <% @posts.each do |post| %>
          <li>
            <h3 class="display-5">
            <%= User.find_by(id: post.user_id).name if logged? %>
            </h3>
            <p>
            <%= post.body %>
            </p>
          </li>
        <% end %>
      </ul>
  </div>
</div>