<div class="container">
  <nav class="navbar sticky-top navbar-light bg-light navbar-light" style="background-color: #e3f2fd;">
  <ul class="nav">
    <% if current_user %>
    <li class="nav-item">
      <%= current_user.email %>
    </li>
    </ul>
    <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to 'Log Out', logout_path, method: :delete, class: 'btn btn-outline-secondary' %>
      </li>
       <li class="nav-item">
      <%= link_to 'Create a post', new_post_path, class: 'btn btn-outline-secondary' %>
      </li>
    <% else %>
     <li class="nav-item">
      <%= link_to 'Log in', login_path, class: 'btn btn-outline-primary' %>
      </li>
    <% end %>
    </ul>
  </nav>
</div>
